.total_page{
    width:100%;
    background-image: linear-gradient(-70deg, #008fff -10%, lightblue 100%);
    padding:10px 0px;
}
#box{
    background: white;
    display: flex;
    margin: 20px  80px 20px 80px;
    border-radius: 18px;
    overflow: hidden;
}
.right{
    background-color:navy;
    color:white;
    width:400px
}
.top{
    background:rgba(245, 245, 245, 0.963);
    display:flex;
    height:240px;
    overflow: hidden;
}
.top_img{
    margin-left: 40px;
    width:300px;
    height:180px;
}

.admin_img{
    border-radius:50%;
    width:150px;
    height:150px;
    margin-top: -20%;
    margin-left: 120px;
}
h2,h3{
 text-align: center;
 margin-top: 20px;
}
h3{
    margin-top: 30px;
}

.left{
    margin-left:100px;
}
p{
    max-width: 80%;
    font-family:Arial, sans-serif;
    font-size:18px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-left: 50px;
    font-weight: 500;
}
label{
   font-family:Arial, sans-serif;
   font-size:18px; 
   padding-bottom: 5px;
   padding-top: 10px;
   font-weight: 600;
}
.btn-round{
    background-color: white;
    position: sticky;
    max-width: 100%;
    border: none;
    margin-left:30px;
    border-radius:18px;
    top: 20px;
  }
.fa-arrow-left{
    font-size: 18px;
    color:black;
  }
.fa-arrow-left:hover{
    color: aqua;
  }