<div class="total_page">
    <section id="box">
        <div class="right" >
            <div class="top">
                <img class="top_img" src="../assets/images/company_logo.png">
            </div>
            <div class="image">
                <img class="admin_img" src="../assets/images/images.png">
            </div>
            <div class="heading">
                <h2>{{employee.firstName}} {{employee.lastName}}</h2>
            </div>
            <div class="bottom">
                <h3>{{employee.designation}}</h3>
            </div>
        </div>
        <div class="left ">
            <div class="row">
                <div class="col-md-6">
                  <label>Employee Id</label>
                </div>
                <div class="col-md-6">
                  <p>{{employee.employeeId}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <label>FirstName</label>
                </div>
                <div class="col-md-6">
                  <p>{{employee.firstName}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <label>LastName</label>
                </div>
                <div class="col-md-6">
                  <p>{{employee.lastName}}</p>
                </div>
            </div>
            <div class="row">
                  <div class="col-md-6">
                    <label>Email</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{employee.email}}</p>
                  </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <label>Address</label>
                </div>
                <div class="col-md-6">
                  <p>{{employee.address}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <label>MobileNumber</label>
                </div>
                <div class="col-md-6">
                  <p>{{employee.mobileNumber}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <label>EmergencyNumber</label>
                </div>
                <div class="col-md-4">
                  <p>{{employee.emergencyNumber}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <label>Designation</label>
                </div>
                <div class="col-md-6">
                  <p>{{employee.designation}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <label>Gender</label>
                </div>
                <div class="col-md-6">
                  <p>{{employee.gender}}</p>
                </div>
            </div>
            
        </div>
    </section>
    <button  type="button" class="btn-round" (click)="dashboard(employee.id)"><i class="fas fa-arrow-left"><span>&nbsp; Back</span></i></button>
</div>